<section>{{ .Content | emojify }}</section>

<div class="border-b-1 py-1"></div>

<div class="flex lg:grid-cols-2 justify-between py-4">
    <div class="flex items-center text-base text-primary-500" style="width: 18rem">
        Elucidating neural networks supporting memory encoding and consolidation
    </div>
    <div class="flex items-center text-m italic" style="width: 26rem">
        See how we identified a hypothalamic novelty hub and how it modulates different types of memories in the hippocampus.
    </div>
</div>

<div class="text-m-research">
    Much of our work focuses on the hippocampus, a brain region giving rise to neural sequences underlying
    episodic memory. These sequences, occurring during either behavior (e.g. theta sequences) or sleep (e.g. replay
    sequences), lay the foundation of memory encoding and consolidation. We believe what drives these sequences
    is a brain-wide oscillation network, and our lab is elucidating the key nodes in this network and how information
    is transmitted and computed among them.
    <br>
    One recent focus of the lab is an understudied subcortical structure in the brain’s oscillation network, the
    supramammillary nucleus (SuM). Unique about this small hypothalamic nucleus is its broad, extensive
    connections to the hippocampus and cortex. We are investigating how these long-range bottom-up pathways
    modulate network dynamics to process memory.
</div>


<div class="lg:grid-research-elucidating mx-auto article_content lg:max-w-full">
    <div class="relative mx-auto lg:mx-0 lg:max-w-none lg:py-0 lg:px-0 py-4">
        <video src="/img/research/elucidating_1.mp4" type="video/webm" preload="auto" autoplay="false" width="100%">
        <div class="w-full text-xs" style="padding-top:0.5rem;">Whole-brain mapping of SuM projections by clearing.</div>
    </div>
    <div class="relative mx-auto lg:mx-0 lg:max-w-none lg:py-0 lg:px-0 py-4">
        <img src="/img/research/elucidating_2.png">
        <div class="w-full text-xs" style="padding-top:0.5rem;">SuMsoma (top) and axons in the hippocampus (bottom).</div>
    </div>
    <div class="relative mx-auto lg:mx-0 lg:max-w-none lg:py-0 lg:px-0 py-4">
        <img src="/img/research/elucidating_3.jpg">
        <div class="w-full text-xs" style="padding-top:0.5rem;">Optogenetic identification and recording of DG- (top) and CA2 (bottom) projecting SuM neurons during behavior</div>
    </div>
</div>