<div class="min-h-[80px]"></div>
<div class="fixed inset-x-0 pl-[24px] pr-[24px]" style="z-index:100">
  <div id="menu-blur" class="absolute inset-x-0 top-0 h-full single_hero_background nozoom bg-neutral-100 dark:bg-neutral-700"></div>
  <div class="relative max-w-full ml-auto mr-auto">
    {{ partial "partials/header/custom_basic.html" . }}
  </div>
</div>

<!--<script>-->
<!--  window.addEventListener('scroll', function (e) {-->
<!--    var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;-->
<!--    var background_blur = document.getElementById('menu-blur');-->
<!--    background_blur.style.opacity = (scroll / 300);-->
<!--  });-->
<!--</script>-->

<!--<script>-->
<!--    window.addEventListener('scroll', function() {-->
<!--        var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;-->
<!--        var menuBlur = document.getElementById('menu-blur');-->
<!--        if (scroll > 0) {-->
<!--            menuBlur.classList.add('shadow');-->
<!--        } else {-->
<!--            menuBlur.classList.remove('shadow');-->
<!--        }-->
<!--    });-->
<!--</script>-->

<script>
    window.addEventListener('scroll', function() {
        const menuBlur = document.getElementById('menu-blur');
        if (window.scrollY !== 0) {
            menuBlur.classList.add('shadow');
        } else {
            menuBlur.classList.remove('shadow');
        }
    });
</script>
